# Compiled class file
*.class
*.out
*.o
build/

# Spreadsheet Files
spreadsheets/*
*.xlsx

*.jpg
*.png
out/*
timeTesting/repeats/*

#IDE files
*.iml
.idea/*
.vscode/*

#vim files
*.swp

# CMake nonsense
CMakeCache.txt
CMakeFiles
_deps
